.headerContainer {
    background-image: url("/landing_bg2.webp");

    @media (min-width: theme("screens.md")) {
        background-image: url("/landing_bg2.webp");
    }

    height: 80vh;
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
    color: white;
}

.headerOverlay {
    @apply flex;
    @apply flex-col;
    background-color: rgba(0, 0, 0, 0.5);
    @apply h-full;
    @apply w-full;
}

.headerContent {
    height: 50vh;
    justify-content: center;
}

.sectionContainer {
    @apply pt-10;
    @apply flex;
    @apply flex-col;
    @apply items-center;
    @apply w-full;
    @apply px-8
}

.sectionOverlayRSVP {
    background-color: rgba(0, 0, 0, 0.5);
    @apply w-full;
    height: 75vh;
    @apply absolute;
}

.footerContainer {
    @apply pt-10;
    @apply flex;
    @apply flex-col;
    @apply items-center;
    @apply w-full;
}

.profileBoxContainer1 {
    @apply bg-neutral-100;
    @apply rounded-md;
    @apply shadow-md;
    z-index: 5;

    @media (min-width: theme("screens.md")) {
        @apply w-3/5;
        @apply p-8;
        margin: 0 0 0 0;
        margin-left: -1rem;
        @apply text-start;
    }

    @media (min-width: theme("screens.lg")) {
        @apply w-1/2;
    }

    @apply mx-4;
    @apply p-4;
    margin-top: -1rem;
    @apply text-center;
}

.profileBoxContainer2 {
    @apply bg-neutral-100;
    @apply rounded-md;
    @apply shadow-md;
    z-index: 5;

    @media (min-width: theme("screens.md")) {
        @apply w-3/5;
        @apply p-8;
        margin: 0 0 0 0;
        margin-right: -1rem;
        @apply text-end;
    }

    @media (min-width: theme("screens.lg")) {
        @apply w-1/2;
    }

    @apply mx-4;
    @apply p-4;
    margin-top: -1rem;
    @apply text-center;
}

.boxContainer {
    @apply bg-neutral-100;
    @apply rounded-md;
    @apply shadow-md;
    @apply p-4;
    @apply flex;
    @apply flex-col;
    @apply w-full;
}

.boxContainerWhite {
    @apply bg-white;
    @apply rounded-md;
    @apply shadow-md;
    @apply p-4;
    @apply flex;
    @apply flex-col;
    @apply w-full;
    @apply max-w-xl;
}

.textTitle {
    @apply text-6xl;
    font-family: var(--font-tangerine);

    @media (min-width: theme("screens.md")) {
        @apply text-8xl;
    }
}

.textTitle1 {
    @apply text-5xl;
    font-family: var(--font-tangerine);

    @media (min-width: theme("screens.md")) {
        @apply text-7xl;
    }
}

.textTitle2 {
    @apply text-4xl;
    font-family: var(--font-tangerine);

    @media (min-width: theme("screens.md")) {
        @apply text-6xl;
    }
}

.textTitle3 {
    @apply text-3xl;
    font-family: var(--font-tangerine);

    @media (min-width: theme("screens.md")) {
        @apply text-5xl;
    }
}

.textNormal1Default {
    @apply text-lg;
}

.textNormal2Default {
    @apply text-base;
}

.textNormal3Default {
    @apply text-sm;
}

.textSecondary {
    color: var(--font-color-low-emphasis);
}

.buttonDefault {
    @apply flex;
    @apply border-2;
    @apply rounded-3xl;
    @apply py-2;
    @apply px-6;
    @apply justify-center;
    @apply items-center;
    @apply bg-blue-500;
    @apply text-white;
}

.gridContainer {
    @apply columns-1;
    @apply gap-4;
    @apply space-y-4;
    @apply mt-8;

    @media (min-width: theme("screens.md")) {
        @apply columns-3;
    }
}

.gridItem {
    @apply flex;
    @apply flex-col;
    @apply bg-white;
    @apply rounded-md;
    @apply shadow-md;
    @apply p-2;
    box-sizing: border-box;
    break-inside: avoid;
}

.iframeContainer {
    overflow: hidden;
    position: relative;
    @apply w-full;
    height: 0;
    padding-bottom: 56.25%;

    @media (min-width: theme("screens.lg")) {
        width: theme("screens.lg");
        height: calc(theme("screens.lg") * 9 / 16);
        padding-bottom: 0;
    }
}

.textDefaultColor {
    color: var(--font-color-high-emphasis);
    @apply text-sm;

    @media (min-width: theme("screens.md")) {
        @apply text-base;
    }
}